.my-container {
  margin-top: 50px;
  width: 80%;
  max-width: 1400px;
  border-style: solid;
  height: 50%;
  min-height: 380px;
  justify-content: center;
}

.body-container {
  display: flex;
  align-items: center;
}

/* Form */
#main-form {
  margin-top: 40px;
  width: 50%;
  min-width: 250px;
  max-width: 300px;
}

/* Table */
.box {
  width: 80px;
  height: 30px;
}

.car-div {
  width: fit-content;
}

#content {
  display: flex;
}

#button_car {
  width: 20%;
  min-width: 100px;
}

#car {
  margin-top: 50px;
}

#btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

.left-btn {
  width: 80px;
}