.my-container {
  width: 80%;
  max-width: 1400px;
  border-style: solid;
  justify-content: center;
}

.body-container {
  margin-top: 100px;
}

/* Login */
#main-form {
  margin-top: 40px;
  width: 50%;
  min-width: 250px;
  max-width: 300px;
}

#login-container {
  min-height: 380px;
  height: 50%;
}

/* Table */
#table-container {
  padding: 2.5%;
}

.box {
  width: 80px;
  height: 30px;
}

.car-div {
  width: fit-content;
}

#content {
  display: flex;
}

#table {
  width: 100%;
  text-align: center;
}

#button_car {
  width: 20%;
  min-width: 125px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  margin-top: 50px;
}

#btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-btn {
  width: 80px;
}

/* Graph */
#graph-container {
  padding: 2.5%;
  max-width: 1113px;
}

/* Utilities */
.bg-blue {
  background-color: #8fabdd;
}

.bg-green {
  background-color: #a8d18d;
}

.bg-yellow {
  background-color: #ffff01;
}

.bg-gray {
  background-color: #343a40;
}

.border-dark {
  border-color: #000000;
}
